spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/javacruitment
    username: user
    password: password
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          lob:
            non_contextual_creation: true
  jackson:
    default-property-inclusion: always
    serialization:
      indent_output: true
      write-dates-as-timestamps: false
  flyway:
    locations: classpath:/flyway

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs